aside .section { margin-bottom: 20px; }
aside h3 { line-height: 1.2em; font-size: 20px; margin-bottom: 10px; font-weight: normal; background: #eee; padding: 5px;  }
aside p { line-height: 1.5em; margin-bottom: 20px; }
aside ul { list-style: none }
aside ul li { line-height: 1.5em }
aside .small { font-size: 12px; }
aside .comment p { margin-bottom: 5px; }
aside .comment { margin-bottom: 10px; padding-bottom: 10px; }
aside .tags { font-weight: bold;margin-top: 14px; }
aside .tags span { color: #105089; font-size: 12px; }
aside .tags .weight-1 { font-size: 12px; }
aside .tags .weight-2 { font-size: 15px; }
aside .tags .weight-3 { font-size: 18px; }
aside .tags .weight-4 { font-size: 21px; }
aside .tags .weight-5 { font-size: 24px; }

/* ===========================================================================
   Paginador
   ======================================================================== */
article ul.paginador {
    background: #DCDCDC;
    list-style: none;
    margin: 0 0 1em 0;
    padding: .5em;
    text-align: center;
}

article ul.paginador li {
    display: inline;
    margin: 0;
    padding: 0 1em;
}
article ul.paginador li.actual {
    font-weight: bold;
}
