<div class="grid_2 alpha">
  {{ incidencia.hora |  date('H:i') }} - {{ incidencia.fecha|date('Y/m/d') }}
</div>
<div class="grid_10 omega">
  <p>Titulo: {{ incidencia.titulo }}</p>
</div>
<div class="grid_11 omega">
  <p>{{ incidencia.descripcion }}</p>
</div>
____________________