<section class="section">
    <header>
        <h4>Tag Cloud</h4>
    </header>
    <p class="tags">
        {% for tag, weight in tags %}
            <a href="{{ path('usuario_incidencias') }}"><span class="weight-{{ weight }}">{{ tag }}</span></a>
        {% else %}
            <p>No existen tags</p>
        {% endfor %}
    </p>
</section>