{% extends '::frontend2.html.twig' %}

{% block title %}Vecinos2.0{% endblock %}
{% block id 'portada' %}

{% block anuncio %}
    {% if not is_granted('ROLE_USUARIO') %}
        <div id="anuncio">¡Empieza a administrar tu comunidad de una forma totalmente gratuita! <a class="boton" href="{{ path('usuario_registro') }}">{{ "Regístrate ya" | trans }}</a></div>
    {% endif %}

{% endblock %}

{% block article %}
    <IMG src="/bundles/espacio/images/4.jpg">
{% endblock %}

{% block aside %}
    {{ parent() }}
    
    <section id="nosotros">
        <h2>{{ "Sobre nosotros" | trans }}</h2>
        <p>Somos una empresa joven y dinámica, que apuesta por la implantación de las nuevas tecnologías en la vida diaria de las personas, para favorecer todas las tareas cotidianas que surgen en ella y responder de una forma más rápida y eficaz .</p>
        <p>Creemos firmemente que si controlamos de una forma óptima toda la información que nos llega, podremos reducir en tiempo, dinero y esfuerzo.</p>
    </section>
{% endblock %}