{% extends '::app.html.twig' %}
   
{% block title %}Aplicacion{% endblock %}
{% block id 'compras' %}

{% block article %}
            <IMG src="/bundles/espacio/images/Menu.png">
{% endblock %}

{% block aside %}
    {{ parent() }}

    <section id="nosotros">
        <h2>Sobre nosotros</h2>
         <p>Somos una empresa joven y dinámica, que apuesta por la implantación de las nuevas tecnologías en la vida diaria de las personas, para favorecer todas las tareas cotidianas que surgen en ella y responder de una forma más rápida y eficaz .</p>
        <p>Creemos firmemente que si controlamos de una forma óptima toda la información que nos llega, podremos reducir en tiempo, dinero y esfuerzo.</p>
    </section>
{% endblock %}